* {
    -fx-font-family: Tahoma
}

.root {
    -fx-background-color: #FFF
}

.title {
    -fx-font-size: 20px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #2196f3 50%)
}

.box-header {
    -fx-background-color: #EFEFEF;
    -fx-effect: dropshadow(three-pass-box, rgb(156, 156, 156), 2, 0, 0, 0);
    -fx-background-radius: 2;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.box-title {
    -fx-font-size: 18px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #2196f3 50%);
}

.radio {
    -fx-font-size: 16px;
    -fx-text-fill: #444;
    -fx-cursor: hand
}

.check-input {
    -fx-pref-height: 35px;
    -fx-font-size: 15px;
    -fx-text-fill: #444;
    -fx-selected-color: #2196f3;
    -fx-cursor: hand
}

.field-input {
    -fx-pref-width: 50px;
    -fx-pref-height: 30px;
    -fx-font-size: 15px;
    -jfx-focus-color: #2196f3;
    -jfx-label-float: true
}

.field-weight {
    -fx-prompt-text-fill: #777;
    -fx-font-size: 16px;
    -fx-pref-height: 25px;
    -jfx-focus-color: #2196f3;
    -jfx-label-float: true
}

.btn {
    -fx-pref-width: 174px;
    -fx-pref-height: 35px;
    -fx-font-size: 16px;
    -fx-background-color: #999;
    -fx-text-fill: #FFF;
    -jfx-button-type: RAISED;
    -fx-cursor: hand
}

.btn-field {
    -fx-pref-width: 80px;
    -fx-pref-height: 35px;
    -fx-font-size: 15px
}

.btn-primary {
    -fx-background-color: #4285f4;
}

.btn-success {
    -fx-background-color: #02C852;
}

/* Start JFXSnackbar (toast) */

.jfx-snackbar-content {
    -fx-background-color: #F00;
    -fx-padding: 0 20px 0 20px
}
.jfx-snackbar-toast {
    -fx-text-fill: #FFF;
    -fx-font-size: 18px;
    -fx-font-family: Tahoma
}

/* End JFXSnackbar (toast) */